.storieswrapper {
  margin: 0 auto;
  padding: 3% 10%;
  padding-top: 5rem;
}

.story {
  // background-color: #cccccc22;
  border-radius: 8px;
  // display: grid;
  // grid-template-columns: 70% 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 2rem;
  align-items: stretch;
  width: 100%;
  margin: 1.5rem auto;
  padding: 1.5rem 0;
  max-width: 1250px;
}
.contentContainer {
  display: flex;
  min-width: 75%;
  flex-direction: column;
}
.heading {
  transition: 0.1s ease-in;
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &:hover {
    cursor: pointer;
    color: #7979ff;
  }
}
.caption {
  line-height: 1.5;
  margin: 0.5rem 0;
}
.details {
  margin-top: 0.5rem;
  text-align: center;
}
.details ul {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-right: 1rem;
  background-color: #edf2f7;
}
.button:hover {
  background-color: #070707;
  color: white;
}
.heading,
.caption,
.details ul li {
  padding: 0 0.3rem;
}
.FontAwesomeIcon {
  font-size: 1.5rem;
  width: auto;
}
.FontAwesomeIconLike {
  font-size: 1.5rem;
  width: auto;
  transition: 0.3s;
  &:hover {
    transform: translateY(-5px);
    color: #4267b2;
    border-radius: 50px;
    cursor: pointer;
  }
}
.loader {
  text-align: center;
}
.likesection ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.imageContainer {
  min-width: 25%;
  max-width: 25%;
  max-height: 200px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  img {
    border-radius: 4px;
    width: 100%;
    background-position: center;
    // width: 100%;
    height: max-content;
  }
}
@media screen and(max-width:768px) {
  .storieswrapper {
    padding: 0.5rem;
  }
  .story {
    // background-color: #edf2f7;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .contentContainer {
    max-width: 100%;
    padding: 0.5rem;
  }
  .details {
    text-align: left;
  }
  .details ul {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }
  .details ul li {
    margin: 0.5rem 0;
  }
  .button {
    margin: 5px;
  }
  .imageContainer {
    max-width: 100%;
  }
  .imageContainer img {
    // margin: 0 auto;
    width: calc(100vw - 1rem);
    // height: 200px;
  }
}
