.storieswrapper {
  padding-top: 75px;
  margin: 0 auto;
  padding: 75px 1rem 0 1rem;
}

.story {
  background-color: #efefff;
  border-radius: 10px;
  // display: grid;
  // grid-template-columns: 70% 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem auto;
  padding: 1rem;
  max-width: 1250px;
}
.contentContainer {
  // display: grid;
  // grid-template-rows: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.heading {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0.5rem 0;
  color: rgb(26, 26, 26);
  transition: 0.1s ease-in;
  &:hover {
    cursor: pointer;
    color: #7979ff;
  }
}
.caption {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.details {
  text-align: center;
}
.details ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-left: 0.45rem;
  background-color: #ffffff;
}
.button:hover {
  background-color: #070707;
  color: white;
}
.heading,
.caption,
.details ul li {
  padding: 0 0.3rem;
}
.FontAwesomeIcon {
  font-size: 1.5rem;
  width: auto;
}
.FontAwesomeIconLike {
  font-size: 1.5rem;
  width: auto;
  transition: 0.3s;
  &:hover {
    transform: translateY(-5px);
    color: #4267b2;
    border-radius: 50px;
    cursor: pointer;
  }
}
.loader {
  text-align: center;
}
.likesection ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.imageContainer {
  width: fit-content;
  display: flex;
  justify-content: center;
  img {
    width: 250px;
    height: 180px;
  }
}
@media screen and(max-width:768px) {
  .story {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contentContainer {
    padding: 0.5rem;
  }
  .details {
    text-align: left;
  }
  .details ul {
    flex-direction: column;
    margin: 0;
  }
  .details ul li {
    margin: 0.5rem 0;
  }
  .button {
    margin: 5px;
  }

  .imageContainer img {
    margin: 0 auto;
    width: 300px;
    height: 200px;
  }
}
