.community {
  background-color: #f7fafc;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.nav {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  padding: 3% 10%;
  padding-bottom: 0;
  position: relative;
}
#title {
  margin: 0;
  margin-right: 1.5rem;
  margin-left: 1rem;
  position: relative;
  &::after {
    content: "";
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    color: #333;
    position: absolute;
  }
}
.categories {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
.categories::-webkit-scrollbar {
  display: none;
}

.container {
  color: #f7fafc;
  justify-content: center;
  text-align: center;
  padding: 3% 10%;
  h3 {
    color: #303030;
  }
}
.button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // margin: 20px 10px;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 16px;
  border-color: #4a5568;
  border-style: solid;
  border-width: 2px;
  transition: 0.2s all;
}
.button:hover {
  border-color: #070707;
  background-color: #070707;
  color: white;
}
.FontAwesomeIcon {
  height: 2rem;
  margin-bottom: -0.5rem;
  width: auto;
}
.loader {
  text-align: center;
}
@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  #title {
    // margin: 5px 0 0 10px;
    // font-size: 1.3rem;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .categories {
    margin-bottom: 1rem;
  }
}
