.collage {
  display: flex;
  position: relative;
  @media (max-width: 768px) {
    #img2,
    #img6,
    #img4 {
      display: none;
    }
    #img1,
    #img3,
    #img5 {
      top: -10% !important;
    }
    #img1 {
      left: 2rem !important;
      filter: brightness(4);
    }
    #img1 img,
    #img3 img,
    #img5 img {
      max-height: 130px;
      width: auto;
    }
    #img3 {
      left: 37% !important;
    }
    #img5 {
      left: 68% !important;
    }
  }
}
#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
  position: absolute;
  opacity: 0;
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  animation: pop 1s forwards ease-in-out;
}
#img1 {
  top: 30px !important;
  left: 10px !important;
}
#img1 img {
  max-height: 190px;
  width: 153px;
}
#img2 {
  animation-delay: 0.1s;
  top: 30px !important;
  left: 200px !important;
}
#img3 {
  animation-delay: 0.2s;
  top: 220px !important;
  left: 130px !important;
}
#img4 {
  animation-delay: 0.3s;
  top: 210px !important;
  left:320px !important;
}
#img5 {
  animation-delay: 0.4s;
  left: -80px !important;
  top: 210px !important;
}
#img6 {
  animation-delay: 0.5s;
  top: 220px !important;
  left: 60px !important;
}
