.main {
  margin: 0 1rem 1.5rem 1rem !important;
}
.header,
.content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.header {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 5% 0;
}
.content {
  padding: 5% 10%;
  text-align: left;
}
.user {
  text-align: left;
  display: grid;
}
#username {
  font-size: 1.3rem;
  margin: 0;
}
#designation {
  font-size: 0.9rem;
  margin: 0;
}
.FontAwesomeIcon {
  height: 1.3rem;
  width: 1.3rem;
  transition: 0.4s;
  &:hover {
    color: #aaa;
    cursor: pointer;
    transform: scale(1.2);
  }
}
#likebtn:hover {
  color: #4267b2;
}
.FontAwesomeIconProfile {
  height: 2rem;
  width: 2rem;
}
.buttons {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 25% 10% 65%;
}
.socials {
  margin: -5px 0;
  transition: 0.4s;
  visibility: visible;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
