.main {
  margin: 0 1rem 1.5rem 1rem !important;
  padding: 3% 10%;
  min-height:460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p{
    text-align: justify;
  }
}
.header,
.content {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 1rem;
}
.content {
  text-align: left;
}
.user {
  text-align: left;
  display: grid;
  h4 {
    transition: 0.2s ease;
    margin-bottom: 1rem;
  }
  h4:hover {
    cursor: pointer;
    color: #7979ff;
  }
}
#username {
  margin: 0;
}
#designation {
  font-style: italic;
  font-size: 0.9rem;
  margin: 0;
}
.FontAwesomeIcon {
  height: 1.3rem;
  width: 1.3rem;
  transition: 0.2s;
  &:hover {
    color: #4267b2;
    cursor: pointer;
    transform: scale(1.2);
  }
}
#likebtn:hover {
  color: #4267b2;
}
.FontAwesomeIconProfile {
  height: 2rem;
  width: 2rem;
}
.buttons {
  height: 30px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}
.socials {
  margin: -5px 0;
  transition: 0.4s;
  visibility: visible;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
