// @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.container {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 1rem auto;
  width: 90%;
  // padding: 1.5rem;
}
.heading {
  font-family: "Inter";
}
.textContainer {
  width: 70%;
  // padding-right: 8rem;
}
.textHeading {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  margin: 1.5rem 0.5rem 1rem 0.5rem;
  overflow: hidden;
  transition: 0.2s ease;
  &:hover {
    cursor: pointer;
    color: #7979ff;
  }
}
.textBody {
  margin: 0.5rem;
  overflow: hidden;
}
.textType {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin: 0.5rem;
}
.imageContainer {
  height: 200px;
  width: 300px;
  object-fit: contain;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    margin: 0.5rem auto 0.5rem auto;
    width: 90%;
    padding: 0.5rem;
  }
  .textContainer {
    width: 100%;
    padding: 0;
  }
  .textHeading {
    font-weight: 700;
    font-size: 26px;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    max-height: calc(33px * 4);
    overflow: hidden;
  }
  .imageContainer {
    width: 100%;
    margin: 0.5rem;
  }
}
