@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.hero {
  width: 1440px;
  min-height: 606px;
  font-family: "Inter", sans-serif;
  background-image: url(../public/assets/Hero_Background.png);
  background-color: #0f0f0f;
  color: white;
}
#title,
#intro {
  margin: 0;
}
#title {
  position: absolute;
  width: 50%;
  height: 154px;
  left: 111px;
  top: 194px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ebebeb;
}
#intro {
  position: absolute;
  height: 104px;
  width: 50%;
  left: 111px;
  top: 365px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #d1d1d1;
}
#explore {
  position: absolute;
  width: 207px;
  height: 47px;
  left: 100px;
  top: 496px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}
