.container {
  justify-content: center;
  text-align: justify;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1250px;
  padding-bottom: 1.5rem;
}
.wrapper {
  cursor: pointer;
}
.tray {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 768px) {
    gap: 0.5rem;
    flex-direction: column;
  }
}
.secondary {
  margin: 0.75rem 0;
  padding: 0.75rem 2.25rem;
  max-width: 50%;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 15px;
  color: black;
  border: 2px solid;
  border-radius: 0.2rem;
  background: white;
  cursor: pointer;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 13px;
    padding: 0.75rem 1.25rem;
    margin: 0.25rem 0.15rem;
    font-weight: 700;
    max-width: 90%;
    width: 100%;
  }
}
.secondary:hover {
  color: white;
  background: black;
  border-color: black;
}

// LEADERSHIP CARDS

.card {
  cursor: pointer;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    @media only screen and (max-width: 1000px) {
      font-size: 1.25rem;
    }
  }
  h5 {
    text-align: center;
    margin: 0;
  }
  max-width: calc((100% - 4rem) / 3);
  .cardImage {
    display: flex;
    width: 100%;
    justify-content: center;
    img {
      width: 70%;
      aspect-ratio: 1 / 1;
      border-radius: 4px;
    }
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
