@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 5.5rem;
  height: 75px;
  color: white;
  position: fixed;
  width: 100%;
  background-color: #000000;
  backdrop-filter: blur(40px);
  z-index: 9999;
  *{
	cursor: pointer;
  }
}

.header a:not(.brand) {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  position: relative;
  transition: all 0.2s ease;
  &:hover::after {
    content: "";
    height: 2px;
    position: absolute;
    background: #fff;
    border-radius: 4rem;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  &:active {
    background-color: #cccccc30;
  }
}

.container {
  display: flex;
}

.mobileContainer {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    display: block;
    // flex-direction: column;
    min-height: 75px;
    height: fit-content;
    position: relative;
    overflow: visible !important;
    padding: 0.25rem 1.5rem;
  }
  .header > div {
    overflow: visible !important;
  }
  .header .brandImage {
    position: absolute;
    bottom: -20px !important;
  }
  .header a {
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
  }
  .container {
    display: none;
  }
  .mobileContainer {
    flex-direction: column;
  }
}
