.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1318px 733px #fff, 533px 9px #fff, 650px 258px #fff,
    1466px 1774px #fff, 787px 195px #fff, 429px 934px #fff, 630px 79px #fff,
    283px 798px #fff, 1232px 1242px #fff, 51px 517px #fff, 402px 757px #fff,
    549px 256px #fff, 572px 1080px #fff, 240px 1505px #fff, 888px 140px #fff,
    519px 165px #fff, 982px 1422px #fff, 1216px 686px #fff, 1627px 414px #fff,
    871px 1925px #fff, 698px 170px #fff, 997px 1125px #fff, 1756px 733px #fff,
    1630px 420px #fff, 818px 531px #fff, 1090px 1567px #fff, 1041px 737px #fff,
    824px 260px #fff, 655px 104px #fff, 292px 1835px #fff, 15px 29px #fff,
    58px 1437px #fff, 526px 1655px #fff, 612px 1093px #fff, 1807px 553px #fff,
    1729px 1188px #fff, 483px 1953px #fff, 1807px 985px #fff, 825px 68px #fff,
    1391px 1199px #fff, 1163px 172px #fff, 1948px 1832px #fff, 559px 1121px #fff,
    739px 837px #fff, 19px 11px #fff, 101px 1023px #fff, 552px 1677px #fff,
    67px 392px #fff, 1440px 723px #fff, 759px 548px #fff, 1284px 1705px #fff,
    1276px 252px #fff, 230px 1967px #fff, 1878px 1209px #fff, 742px 895px #fff,
    1075px 1471px #fff, 1709px 1841px #fff, 1281px 763px #fff, 133px 1642px #fff,
    1085px 1428px #fff, 1114px 1650px #fff, 1860px 1618px #fff, 16px 1638px #fff,
    1648px 1998px #fff, 1419px 846px #fff, 128px 168px #fff, 38px 598px #fff,
    94px 1858px #fff, 1992px 657px #fff, 1500px 24px #fff, 541px 206px #fff,
    1796px 1144px #fff, 245px 890px #fff, 1979px 383px #fff, 1550px 618px #fff,
    337px 1526px #fff, 623px 827px #fff, 1381px 1503px #fff, 1039px 900px #fff,
    884px 1402px #fff, 1251px 917px #fff, 621px 556px #fff, 1547px 1703px #fff,
    1409px 1790px #fff, 1461px 1480px #fff, 659px 118px #fff, 1716px 1183px #fff,
    516px 1482px #fff, 1311px 948px #fff, 186px 1400px #fff, 777px 891px #fff,
    332px 1144px #fff, 293px 1172px #fff, 534px 19px #fff, 150px 1226px #fff,
    1766px 975px #fff, 564px 504px #fff, 1927px 993px #fff, 135px 89px #fff,
    332px 1297px #fff, 103px 218px #fff, 4px 1598px #fff, 206px 198px #fff,
    1046px 402px #fff, 367px 1976px #fff, 1021px 1381px #fff, 1201px 1796px #fff,
    559px 712px #fff, 1687px 1535px #fff, 1159px 1692px #fff, 1182px 142px #fff,
    1071px 232px #fff, 1367px 1127px #fff, 1614px 1807px #fff,
    1914px 1545px #fff, 1378px 474px #fff, 873px 1091px #fff, 737px 1912px #fff,
    1535px 901px #fff, 1543px 355px #fff, 756px 1054px #fff, 1956px 1402px #fff,
    1955px 612px #fff, 233px 1975px #fff, 1811px 1074px #fff, 331px 890px #fff,
    728px 1149px #fff, 142px 970px #fff, 1876px 1387px #fff, 1152px 1178px #fff,
    948px 1654px #fff, 1474px 1716px #fff, 315px 94px #fff, 1168px 1374px #fff,
    345px 374px #fff, 422px 1214px #fff, 930px 944px #fff, 1453px 703px #fff,
    1955px 866px #fff, 64px 824px #fff, 701px 1220px #fff, 1547px 838px #fff,
    285px 1032px #fff, 1178px 179px #fff, 1096px 1054px #fff, 53px 29px #fff,
    1060px 1998px #fff, 192px 1844px #fff, 1359px 1028px #fff, 1541px 664px #fff,
    791px 1214px #fff, 1981px 293px #fff, 940px 369px #fff, 13px 1748px #fff,
    1188px 1635px #fff, 1671px 1697px #fff, 71px 1590px #fff, 1796px 605px #fff,
    371px 1607px #fff, 1268px 1793px #fff, 360px 1869px #fff, 1114px 155px #fff,
    1259px 678px #fff, 1198px 420px #fff, 1123px 1729px #fff, 104px 1749px #fff,
    286px 535px #fff, 1457px 786px #fff, 1109px 1103px #fff, 5px 846px #fff,
    870px 551px #fff, 398px 981px #fff, 281px 876px #fff, 925px 1288px #fff,
    1454px 1462px #fff, 38px 566px #fff, 378px 571px #fff, 1125px 1345px #fff,
    1399px 831px #fff, 1554px 128px #fff, 389px 1874px #fff, 1135px 389px #fff,
    1px 440px #fff, 433px 652px #fff, 1233px 1947px #fff, 1906px 513px #fff,
    332px 344px #fff, 1744px 656px #fff, 1475px 229px #fff, 1674px 110px #fff,
    455px 942px #fff, 1395px 924px #fff, 1153px 1658px #fff, 157px 260px #fff,
    1090px 1127px #fff, 108px 762px #fff, 1928px 254px #fff, 1223px 76px #fff,
    587px 238px #fff, 1693px 1952px #fff, 1390px 671px #fff, 615px 739px #fff,
    189px 135px #fff, 1500px 1208px #fff, 516px 137px #fff, 1476px 624px #fff,
    1784px 26px #fff, 1694px 306px #fff, 1970px 245px #fff, 491px 1580px #fff,
    820px 1564px #fff, 1810px 1968px #fff, 1436px 1921px #fff, 1593px 644px #fff,
    1484px 1683px #fff, 925px 743px #fff, 1950px 1826px #fff, 1517px 1023px #fff,
    303px 975px #fff, 539px 1192px #fff, 1925px 1721px #fff, 961px 1952px #fff,
    1099px 698px #fff, 1527px 1844px #fff, 383px 330px #fff, 1017px 1557px #fff,
    1666px 839px #fff, 1910px 1073px #fff, 1076px 321px #fff, 949px 872px #fff,
    699px 342px #fff, 1746px 1455px #fff, 1449px 1338px #fff, 1565px 1128px #fff,
    352px 1301px #fff, 662px 1010px #fff, 1555px 1739px #fff, 1658px 605px #fff,
    7px 1436px #fff, 1138px 838px #fff, 474px 1427px #fff, 1648px 1825px #fff,
    589px 869px #fff, 989px 1132px #fff, 841px 988px #fff, 715px 301px #fff,
    1133px 1943px #fff, 803px 1528px #fff, 120px 807px #fff, 184px 1192px #fff,
    1989px 778px #fff, 751px 1032px #fff, 1349px 1743px #fff, 997px 342px #fff,
    810px 84px #fff, 914px 1531px #fff, 898px 141px #fff, 1658px 1835px #fff,
    335px 1526px #fff, 1499px 186px #fff, 58px 316px #fff, 1734px 1031px #fff,
    175px 1924px #fff, 248px 159px #fff, 309px 1316px #fff, 835px 429px #fff,
    670px 955px #fff, 1217px 3px #fff, 1716px 1269px #fff, 1186px 1952px #fff,
    1190px 1853px #fff, 752px 1926px #fff, 1618px 127px #fff, 358px 201px #fff,
    933px 647px #fff, 1422px 1315px #fff, 95px 84px #fff, 1446px 1530px #fff,
    2000px 771px #fff, 1028px 1962px #fff, 1141px 1554px #fff,
    1155px 1268px #fff, 623px 967px #fff, 982px 40px #fff, 1010px 5px #fff,
    320px 1378px #fff, 922px 1612px #fff, 61px 525px #fff, 1152px 1687px #fff,
    718px 1559px #fff, 1656px 1647px #fff, 939px 1394px #fff, 341px 298px #fff,
    11px 24px #fff, 134px 309px #fff, 822px 1896px #fff, 1092px 700px #fff,
    23px 1697px #fff, 1419px 1640px #fff, 1448px 1323px #fff, 214px 1446px #fff,
    37px 1586px #fff, 897px 1387px #fff, 1986px 478px #fff, 1062px 1556px #fff,
    657px 964px #fff, 1497px 925px #fff, 287px 974px #fff, 1930px 571px #fff,
    1846px 966px #fff, 816px 779px #fff, 137px 190px #fff, 1888px 1630px #fff,
    1869px 756px #fff, 326px 946px #fff, 441px 401px #fff, 876px 772px #fff,
    943px 513px #fff, 1265px 1617px #fff, 869px 1611px #fff, 1907px 671px #fff,
    553px 1553px #fff, 1730px 54px #fff, 28px 581px #fff, 892px 1690px #fff,
    690px 1345px #fff, 484px 840px #fff, 1993px 1413px #fff, 1785px 1330px #fff,
    1250px 158px #fff, 1840px 1341px #fff, 1104px 352px #fff, 148px 1251px #fff,
    1398px 539px #fff, 1839px 47px #fff, 1552px 184px #fff, 1607px 805px #fff,
    240px 1470px #fff, 1652px 1104px #fff, 273px 517px #fff, 370px 1866px #fff,
    269px 1273px #fff, 574px 441px #fff, 300px 1172px #fff, 268px 1231px #fff,
    1304px 1922px #fff, 1214px 1145px #fff, 1021px 1497px #fff,
    1833px 1312px #fff, 154px 1417px #fff, 1556px 329px #fff, 794px 640px #fff,
    701px 64px #fff, 1777px 899px #fff, 903px 1644px #fff, 1604px 36px #fff,
    461px 474px #fff, 1864px 1733px #fff, 107px 1275px #fff, 555px 1744px #fff,
    690px 527px #fff, 1791px 275px #fff, 1438px 1383px #fff, 1557px 284px #fff,
    410px 1390px #fff, 363px 26px #fff, 335px 1199px #fff, 963px 1126px #fff,
    844px 1927px #fff, 760px 1713px #fff, 1308px 1860px #fff, 142px 1963px #fff,
    1907px 446px #fff, 1660px 1089px #fff, 1160px 709px #fff, 1036px 158px #fff,
    1197px 861px #fff, 85px 55px #fff, 1609px 1130px #fff, 166px 616px #fff,
    68px 1410px #fff, 1367px 1719px #fff, 1884px 919px #fff, 396px 827px #fff,
    1088px 1476px #fff, 74px 1418px #fff, 45px 980px #fff, 234px 89px #fff,
    496px 1465px #fff, 1198px 1580px #fff, 320px 1193px #fff, 1474px 314px #fff,
    315px 486px #fff, 1114px 639px #fff, 412px 85px #fff, 578px 85px #fff,
    36px 535px #fff, 1298px 994px #fff, 1316px 1384px #fff, 557px 1899px #fff,
    786px 1825px #fff, 266px 1884px #fff, 1118px 760px #fff, 1122px 1931px #fff,
    173px 1004px #fff, 1884px 1060px #fff, 871px 1933px #fff, 1382px 1288px #fff,
    1235px 987px #fff, 1037px 330px #fff, 994px 653px #fff, 475px 866px #fff,
    579px 101px #fff, 888px 1935px #fff, 1918px 1273px #fff, 1317px 1355px #fff,
    397px 1641px #fff, 1761px 1181px #fff, 814px 1564px #fff, 1343px 816px #fff,
    837px 220px #fff, 1101px 1837px #fff, 1925px 1094px #fff, 1880px 1033px #fff,
    1123px 524px #fff, 184px 352px #fff, 1902px 1006px #fff, 695px 918px #fff,
    1062px 1574px #fff, 1639px 667px #fff, 1889px 665px #fff, 1608px 1123px #fff,
    1675px 1651px #fff, 280px 548px #fff, 591px 1745px #fff, 1225px 1233px #fff,
    9px 525px #fff, 1073px 70px #fff, 1021px 1945px #fff, 1782px 226px #fff,
    717px 1559px #fff, 1463px 189px #fff, 73px 1218px #fff, 55px 943px #fff,
    1096px 257px #fff, 580px 801px #fff, 1290px 1723px #fff, 190px 1134px #fff,
    1897px 1032px #fff, 1355px 1987px #fff, 1271px 1696px #fff,
    1345px 242px #fff, 507px 1318px #fff, 480px 336px #fff, 1394px 127px #fff,
    1898px 600px #fff, 1474px 856px #fff, 594px 1120px #fff, 99px 241px #fff,
    446px 111px #fff, 273px 939px #fff, 677px 236px #fff, 1645px 467px #fff,
    288px 1671px #fff, 1431px 534px #fff, 1220px 1104px #fff, 842px 1088px #fff,
    1822px 240px #fff, 454px 528px #fff, 885px 537px #fff, 612px 1008px #fff,
    1962px 1529px #fff, 969px 1804px #fff, 612px 124px #fff, 104px 1728px #fff,
    257px 362px #fff, 724px 1425px #fff, 1988px 1748px #fff, 1403px 1409px #fff,
    1815px 1644px #fff, 748px 216px #fff, 1854px 1831px #fff, 1744px 767px #fff,
    1491px 1530px #fff, 1944px 1566px #fff, 1053px 1459px #fff,
    1119px 677px #fff, 55px 116px #fff, 642px 897px #fff, 1997px 1368px #fff,
    1400px 620px #fff, 220px 1515px #fff, 59px 411px #fff, 866px 677px #fff,
    857px 1575px #fff, 936px 1184px #fff, 965px 1516px #fff, 1560px 1569px #fff,
    851px 783px #fff, 1006px 668px #fff, 621px 1298px #fff, 1661px 1154px #fff,
    141px 218px #fff, 994px 1704px #fff, 108px 740px #fff, 545px 903px #fff,
    230px 1938px #fff, 913px 937px #fff, 715px 866px #fff, 158px 1420px #fff,
    1025px 855px #fff, 299px 1969px #fff, 716px 1174px #fff, 704px 599px #fff,
    1663px 712px #fff, 409px 438px #fff, 1027px 1175px #fff, 1084px 672px #fff,
    321px 416px #fff, 42px 1377px #fff, 842px 1907px #fff, 459px 731px #fff,
    1919px 1420px #fff, 1250px 1242px #fff, 257px 1927px #fff, 174px 171px #fff,
    1510px 1604px #fff, 348px 1172px #fff, 523px 124px #fff, 220px 1204px #fff,
    777px 1972px #fff, 1033px 1175px #fff, 362px 1091px #fff, 1239px 505px #fff,
    877px 571px #fff, 1450px 1309px #fff, 1711px 1361px #fff, 11px 1837px #fff,
    1271px 860px #fff, 1867px 561px #fff, 1647px 82px #fff, 958px 1125px #fff,
    865px 975px #fff, 1341px 293px #fff, 687px 633px #fff, 1534px 1709px #fff,
    1053px 1904px #fff, 1737px 1082px #fff, 1569px 546px #fff, 433px 220px #fff,
    905px 812px #fff, 353px 1599px #fff, 1995px 1529px #fff, 1429px 142px #fff,
    1363px 1434px #fff, 145px 1489px #fff, 105px 1574px #fff, 667px 1412px #fff,
    360px 1736px #fff, 1118px 1622px #fff, 205px 270px #fff, 1603px 1652px #fff,
    1025px 1732px #fff, 1842px 934px #fff, 1293px 867px #fff, 57px 771px #fff,
    1852px 1614px #fff, 1743px 1242px #fff, 129px 957px #fff, 1638px 1751px #fff,
    729px 1895px #fff, 785px 1814px #fff, 1915px 6px #fff, 924px 887px #fff,
    737px 1324px #fff, 1708px 1346px #fff, 824px 178px #fff, 1260px 1942px #fff,
    1676px 1822px #fff, 1860px 1188px #fff, 1653px 1709px #fff,
    1881px 1957px #fff, 647px 528px #fff, 1247px 148px #fff, 976px 241px #fff,
    879px 909px #fff, 1345px 1035px #fff, 995px 199px #fff, 1760px 273px #fff,
    1501px 506px #fff, 776px 629px #fff, 1710px 1095px #fff, 48px 952px #fff,
    1175px 424px #fff, 340px 1648px #fff, 175px 789px #fff, 654px 835px #fff,
    929px 1605px #fff, 327px 609px #fff, 1576px 1392px #fff, 797px 1616px #fff,
    630px 461px #fff, 1333px 1176px #fff, 1922px 1722px #fff, 581px 200px #fff,
    1628px 1587px #fff, 1882px 1779px #fff, 1344px 1061px #fff,
    1881px 1325px #fff, 1911px 1418px #fff, 181px 1390px #fff, 395px 570px #fff,
    731px 1153px #fff, 187px 1818px #fff, 1424px 845px #fff, 1538px 1087px #fff,
    1946px 1532px #fff, 136px 1101px #fff, 586px 104px #fff, 1309px 665px #fff,
    632px 1818px #fff, 68px 829px #fff, 168px 930px #fff, 1619px 541px #fff,
    1825px 740px #fff, 105px 1554px #fff, 1859px 624px #fff, 1484px 727px #fff,
    1903px 363px #fff, 1338px 436px #fff, 1261px 1521px #fff, 1301px 931px #fff,
    1611px 744px #fff, 1701px 106px #fff, 1514px 1444px #fff, 1375px 1922px #fff,
    146px 1902px #fff, 18px 1488px #fff, 501px 1128px #fff, 1821px 79px #fff,
    1256px 592px #fff, 1562px 385px #fff, 1148px 868px #fff, 1861px 104px #fff,
    417px 134px #fff, 357px 916px #fff, 417px 944px #fff, 1799px 1891px #fff,
    1872px 253px #fff, 993px 491px #fff, 664px 1807px #fff, 1268px 840px #fff,
    1884px 1039px #fff, 42px 714px #fff, 241px 443px #fff, 1288px 1416px #fff,
    1691px 626px #fff, 1541px 1392px #fff, 951px 1597px #fff, 337px 1370px #fff,
    1310px 1406px #fff, 1923px 1532px #fff, 1545px 640px #fff,
    1214px 1400px #fff, 1721px 1264px #fff, 160px 159px #fff, 1150px 357px #fff,
    1203px 1482px #fff, 1903px 36px #fff, 973px 739px #fff, 1617px 218px #fff,
    1357px 1689px #fff, 615px 307px #fff, 1042px 1921px #fff, 1221px 1254px #fff,
    1869px 234px #fff, 1407px 1831px #fff, 486px 1791px #fff, 1388px 782px #fff,
    25px 724px #fff, 1041px 342px #fff, 480px 1992px #fff, 279px 1706px #fff,
    1646px 1068px #fff, 1758px 1312px #fff, 1724px 358px #fff, 66px 200px #fff,
    158px 615px #fff, 525px 1529px #fff, 824px 1289px #fff, 553px 1053px #fff,
    1676px 1234px #fff, 91px 793px #fff, 1347px 1663px #fff, 560px 1436px #fff,
    245px 1867px #fff, 1077px 1376px #fff, 1447px 135px #fff, 105px 171px #fff,
    1348px 118px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1318px 733px #fff, 533px 9px #fff, 650px 258px #fff,
    1466px 1774px #fff, 787px 195px #fff, 429px 934px #fff, 630px 79px #fff,
    283px 798px #fff, 1232px 1242px #fff, 51px 517px #fff, 402px 757px #fff,
    549px 256px #fff, 572px 1080px #fff, 240px 1505px #fff, 888px 140px #fff,
    519px 165px #fff, 982px 1422px #fff, 1216px 686px #fff, 1627px 414px #fff,
    871px 1925px #fff, 698px 170px #fff, 997px 1125px #fff, 1756px 733px #fff,
    1630px 420px #fff, 818px 531px #fff, 1090px 1567px #fff, 1041px 737px #fff,
    824px 260px #fff, 655px 104px #fff, 292px 1835px #fff, 15px 29px #fff,
    58px 1437px #fff, 526px 1655px #fff, 612px 1093px #fff, 1807px 553px #fff,
    1729px 1188px #fff, 483px 1953px #fff, 1807px 985px #fff, 825px 68px #fff,
    1391px 1199px #fff, 1163px 172px #fff, 1948px 1832px #fff, 559px 1121px #fff,
    739px 837px #fff, 19px 11px #fff, 101px 1023px #fff, 552px 1677px #fff,
    67px 392px #fff, 1440px 723px #fff, 759px 548px #fff, 1284px 1705px #fff,
    1276px 252px #fff, 230px 1967px #fff, 1878px 1209px #fff, 742px 895px #fff,
    1075px 1471px #fff, 1709px 1841px #fff, 1281px 763px #fff, 133px 1642px #fff,
    1085px 1428px #fff, 1114px 1650px #fff, 1860px 1618px #fff, 16px 1638px #fff,
    1648px 1998px #fff, 1419px 846px #fff, 128px 168px #fff, 38px 598px #fff,
    94px 1858px #fff, 1992px 657px #fff, 1500px 24px #fff, 541px 206px #fff,
    1796px 1144px #fff, 245px 890px #fff, 1979px 383px #fff, 1550px 618px #fff,
    337px 1526px #fff, 623px 827px #fff, 1381px 1503px #fff, 1039px 900px #fff,
    884px 1402px #fff, 1251px 917px #fff, 621px 556px #fff, 1547px 1703px #fff,
    1409px 1790px #fff, 1461px 1480px #fff, 659px 118px #fff, 1716px 1183px #fff,
    516px 1482px #fff, 1311px 948px #fff, 186px 1400px #fff, 777px 891px #fff,
    332px 1144px #fff, 293px 1172px #fff, 534px 19px #fff, 150px 1226px #fff,
    1766px 975px #fff, 564px 504px #fff, 1927px 993px #fff, 135px 89px #fff,
    332px 1297px #fff, 103px 218px #fff, 4px 1598px #fff, 206px 198px #fff,
    1046px 402px #fff, 367px 1976px #fff, 1021px 1381px #fff, 1201px 1796px #fff,
    559px 712px #fff, 1687px 1535px #fff, 1159px 1692px #fff, 1182px 142px #fff,
    1071px 232px #fff, 1367px 1127px #fff, 1614px 1807px #fff,
    1914px 1545px #fff, 1378px 474px #fff, 873px 1091px #fff, 737px 1912px #fff,
    1535px 901px #fff, 1543px 355px #fff, 756px 1054px #fff, 1956px 1402px #fff,
    1955px 612px #fff, 233px 1975px #fff, 1811px 1074px #fff, 331px 890px #fff,
    728px 1149px #fff, 142px 970px #fff, 1876px 1387px #fff, 1152px 1178px #fff,
    948px 1654px #fff, 1474px 1716px #fff, 315px 94px #fff, 1168px 1374px #fff,
    345px 374px #fff, 422px 1214px #fff, 930px 944px #fff, 1453px 703px #fff,
    1955px 866px #fff, 64px 824px #fff, 701px 1220px #fff, 1547px 838px #fff,
    285px 1032px #fff, 1178px 179px #fff, 1096px 1054px #fff, 53px 29px #fff,
    1060px 1998px #fff, 192px 1844px #fff, 1359px 1028px #fff, 1541px 664px #fff,
    791px 1214px #fff, 1981px 293px #fff, 940px 369px #fff, 13px 1748px #fff,
    1188px 1635px #fff, 1671px 1697px #fff, 71px 1590px #fff, 1796px 605px #fff,
    371px 1607px #fff, 1268px 1793px #fff, 360px 1869px #fff, 1114px 155px #fff,
    1259px 678px #fff, 1198px 420px #fff, 1123px 1729px #fff, 104px 1749px #fff,
    286px 535px #fff, 1457px 786px #fff, 1109px 1103px #fff, 5px 846px #fff,
    870px 551px #fff, 398px 981px #fff, 281px 876px #fff, 925px 1288px #fff,
    1454px 1462px #fff, 38px 566px #fff, 378px 571px #fff, 1125px 1345px #fff,
    1399px 831px #fff, 1554px 128px #fff, 389px 1874px #fff, 1135px 389px #fff,
    1px 440px #fff, 433px 652px #fff, 1233px 1947px #fff, 1906px 513px #fff,
    332px 344px #fff, 1744px 656px #fff, 1475px 229px #fff, 1674px 110px #fff,
    455px 942px #fff, 1395px 924px #fff, 1153px 1658px #fff, 157px 260px #fff,
    1090px 1127px #fff, 108px 762px #fff, 1928px 254px #fff, 1223px 76px #fff,
    587px 238px #fff, 1693px 1952px #fff, 1390px 671px #fff, 615px 739px #fff,
    189px 135px #fff, 1500px 1208px #fff, 516px 137px #fff, 1476px 624px #fff,
    1784px 26px #fff, 1694px 306px #fff, 1970px 245px #fff, 491px 1580px #fff,
    820px 1564px #fff, 1810px 1968px #fff, 1436px 1921px #fff, 1593px 644px #fff,
    1484px 1683px #fff, 925px 743px #fff, 1950px 1826px #fff, 1517px 1023px #fff,
    303px 975px #fff, 539px 1192px #fff, 1925px 1721px #fff, 961px 1952px #fff,
    1099px 698px #fff, 1527px 1844px #fff, 383px 330px #fff, 1017px 1557px #fff,
    1666px 839px #fff, 1910px 1073px #fff, 1076px 321px #fff, 949px 872px #fff,
    699px 342px #fff, 1746px 1455px #fff, 1449px 1338px #fff, 1565px 1128px #fff,
    352px 1301px #fff, 662px 1010px #fff, 1555px 1739px #fff, 1658px 605px #fff,
    7px 1436px #fff, 1138px 838px #fff, 474px 1427px #fff, 1648px 1825px #fff,
    589px 869px #fff, 989px 1132px #fff, 841px 988px #fff, 715px 301px #fff,
    1133px 1943px #fff, 803px 1528px #fff, 120px 807px #fff, 184px 1192px #fff,
    1989px 778px #fff, 751px 1032px #fff, 1349px 1743px #fff, 997px 342px #fff,
    810px 84px #fff, 914px 1531px #fff, 898px 141px #fff, 1658px 1835px #fff,
    335px 1526px #fff, 1499px 186px #fff, 58px 316px #fff, 1734px 1031px #fff,
    175px 1924px #fff, 248px 159px #fff, 309px 1316px #fff, 835px 429px #fff,
    670px 955px #fff, 1217px 3px #fff, 1716px 1269px #fff, 1186px 1952px #fff,
    1190px 1853px #fff, 752px 1926px #fff, 1618px 127px #fff, 358px 201px #fff,
    933px 647px #fff, 1422px 1315px #fff, 95px 84px #fff, 1446px 1530px #fff,
    2000px 771px #fff, 1028px 1962px #fff, 1141px 1554px #fff,
    1155px 1268px #fff, 623px 967px #fff, 982px 40px #fff, 1010px 5px #fff,
    320px 1378px #fff, 922px 1612px #fff, 61px 525px #fff, 1152px 1687px #fff,
    718px 1559px #fff, 1656px 1647px #fff, 939px 1394px #fff, 341px 298px #fff,
    11px 24px #fff, 134px 309px #fff, 822px 1896px #fff, 1092px 700px #fff,
    23px 1697px #fff, 1419px 1640px #fff, 1448px 1323px #fff, 214px 1446px #fff,
    37px 1586px #fff, 897px 1387px #fff, 1986px 478px #fff, 1062px 1556px #fff,
    657px 964px #fff, 1497px 925px #fff, 287px 974px #fff, 1930px 571px #fff,
    1846px 966px #fff, 816px 779px #fff, 137px 190px #fff, 1888px 1630px #fff,
    1869px 756px #fff, 326px 946px #fff, 441px 401px #fff, 876px 772px #fff,
    943px 513px #fff, 1265px 1617px #fff, 869px 1611px #fff, 1907px 671px #fff,
    553px 1553px #fff, 1730px 54px #fff, 28px 581px #fff, 892px 1690px #fff,
    690px 1345px #fff, 484px 840px #fff, 1993px 1413px #fff, 1785px 1330px #fff,
    1250px 158px #fff, 1840px 1341px #fff, 1104px 352px #fff, 148px 1251px #fff,
    1398px 539px #fff, 1839px 47px #fff, 1552px 184px #fff, 1607px 805px #fff,
    240px 1470px #fff, 1652px 1104px #fff, 273px 517px #fff, 370px 1866px #fff,
    269px 1273px #fff, 574px 441px #fff, 300px 1172px #fff, 268px 1231px #fff,
    1304px 1922px #fff, 1214px 1145px #fff, 1021px 1497px #fff,
    1833px 1312px #fff, 154px 1417px #fff, 1556px 329px #fff, 794px 640px #fff,
    701px 64px #fff, 1777px 899px #fff, 903px 1644px #fff, 1604px 36px #fff,
    461px 474px #fff, 1864px 1733px #fff, 107px 1275px #fff, 555px 1744px #fff,
    690px 527px #fff, 1791px 275px #fff, 1438px 1383px #fff, 1557px 284px #fff,
    410px 1390px #fff, 363px 26px #fff, 335px 1199px #fff, 963px 1126px #fff,
    844px 1927px #fff, 760px 1713px #fff, 1308px 1860px #fff, 142px 1963px #fff,
    1907px 446px #fff, 1660px 1089px #fff, 1160px 709px #fff, 1036px 158px #fff,
    1197px 861px #fff, 85px 55px #fff, 1609px 1130px #fff, 166px 616px #fff,
    68px 1410px #fff, 1367px 1719px #fff, 1884px 919px #fff, 396px 827px #fff,
    1088px 1476px #fff, 74px 1418px #fff, 45px 980px #fff, 234px 89px #fff,
    496px 1465px #fff, 1198px 1580px #fff, 320px 1193px #fff, 1474px 314px #fff,
    315px 486px #fff, 1114px 639px #fff, 412px 85px #fff, 578px 85px #fff,
    36px 535px #fff, 1298px 994px #fff, 1316px 1384px #fff, 557px 1899px #fff,
    786px 1825px #fff, 266px 1884px #fff, 1118px 760px #fff, 1122px 1931px #fff,
    173px 1004px #fff, 1884px 1060px #fff, 871px 1933px #fff, 1382px 1288px #fff,
    1235px 987px #fff, 1037px 330px #fff, 994px 653px #fff, 475px 866px #fff,
    579px 101px #fff, 888px 1935px #fff, 1918px 1273px #fff, 1317px 1355px #fff,
    397px 1641px #fff, 1761px 1181px #fff, 814px 1564px #fff, 1343px 816px #fff,
    837px 220px #fff, 1101px 1837px #fff, 1925px 1094px #fff, 1880px 1033px #fff,
    1123px 524px #fff, 184px 352px #fff, 1902px 1006px #fff, 695px 918px #fff,
    1062px 1574px #fff, 1639px 667px #fff, 1889px 665px #fff, 1608px 1123px #fff,
    1675px 1651px #fff, 280px 548px #fff, 591px 1745px #fff, 1225px 1233px #fff,
    9px 525px #fff, 1073px 70px #fff, 1021px 1945px #fff, 1782px 226px #fff,
    717px 1559px #fff, 1463px 189px #fff, 73px 1218px #fff, 55px 943px #fff,
    1096px 257px #fff, 580px 801px #fff, 1290px 1723px #fff, 190px 1134px #fff,
    1897px 1032px #fff, 1355px 1987px #fff, 1271px 1696px #fff,
    1345px 242px #fff, 507px 1318px #fff, 480px 336px #fff, 1394px 127px #fff,
    1898px 600px #fff, 1474px 856px #fff, 594px 1120px #fff, 99px 241px #fff,
    446px 111px #fff, 273px 939px #fff, 677px 236px #fff, 1645px 467px #fff,
    288px 1671px #fff, 1431px 534px #fff, 1220px 1104px #fff, 842px 1088px #fff,
    1822px 240px #fff, 454px 528px #fff, 885px 537px #fff, 612px 1008px #fff,
    1962px 1529px #fff, 969px 1804px #fff, 612px 124px #fff, 104px 1728px #fff,
    257px 362px #fff, 724px 1425px #fff, 1988px 1748px #fff, 1403px 1409px #fff,
    1815px 1644px #fff, 748px 216px #fff, 1854px 1831px #fff, 1744px 767px #fff,
    1491px 1530px #fff, 1944px 1566px #fff, 1053px 1459px #fff,
    1119px 677px #fff, 55px 116px #fff, 642px 897px #fff, 1997px 1368px #fff,
    1400px 620px #fff, 220px 1515px #fff, 59px 411px #fff, 866px 677px #fff,
    857px 1575px #fff, 936px 1184px #fff, 965px 1516px #fff, 1560px 1569px #fff,
    851px 783px #fff, 1006px 668px #fff, 621px 1298px #fff, 1661px 1154px #fff,
    141px 218px #fff, 994px 1704px #fff, 108px 740px #fff, 545px 903px #fff,
    230px 1938px #fff, 913px 937px #fff, 715px 866px #fff, 158px 1420px #fff,
    1025px 855px #fff, 299px 1969px #fff, 716px 1174px #fff, 704px 599px #fff,
    1663px 712px #fff, 409px 438px #fff, 1027px 1175px #fff, 1084px 672px #fff,
    321px 416px #fff, 42px 1377px #fff, 842px 1907px #fff, 459px 731px #fff,
    1919px 1420px #fff, 1250px 1242px #fff, 257px 1927px #fff, 174px 171px #fff,
    1510px 1604px #fff, 348px 1172px #fff, 523px 124px #fff, 220px 1204px #fff,
    777px 1972px #fff, 1033px 1175px #fff, 362px 1091px #fff, 1239px 505px #fff,
    877px 571px #fff, 1450px 1309px #fff, 1711px 1361px #fff, 11px 1837px #fff,
    1271px 860px #fff, 1867px 561px #fff, 1647px 82px #fff, 958px 1125px #fff,
    865px 975px #fff, 1341px 293px #fff, 687px 633px #fff, 1534px 1709px #fff,
    1053px 1904px #fff, 1737px 1082px #fff, 1569px 546px #fff, 433px 220px #fff,
    905px 812px #fff, 353px 1599px #fff, 1995px 1529px #fff, 1429px 142px #fff,
    1363px 1434px #fff, 145px 1489px #fff, 105px 1574px #fff, 667px 1412px #fff,
    360px 1736px #fff, 1118px 1622px #fff, 205px 270px #fff, 1603px 1652px #fff,
    1025px 1732px #fff, 1842px 934px #fff, 1293px 867px #fff, 57px 771px #fff,
    1852px 1614px #fff, 1743px 1242px #fff, 129px 957px #fff, 1638px 1751px #fff,
    729px 1895px #fff, 785px 1814px #fff, 1915px 6px #fff, 924px 887px #fff,
    737px 1324px #fff, 1708px 1346px #fff, 824px 178px #fff, 1260px 1942px #fff,
    1676px 1822px #fff, 1860px 1188px #fff, 1653px 1709px #fff,
    1881px 1957px #fff, 647px 528px #fff, 1247px 148px #fff, 976px 241px #fff,
    879px 909px #fff, 1345px 1035px #fff, 995px 199px #fff, 1760px 273px #fff,
    1501px 506px #fff, 776px 629px #fff, 1710px 1095px #fff, 48px 952px #fff,
    1175px 424px #fff, 340px 1648px #fff, 175px 789px #fff, 654px 835px #fff,
    929px 1605px #fff, 327px 609px #fff, 1576px 1392px #fff, 797px 1616px #fff,
    630px 461px #fff, 1333px 1176px #fff, 1922px 1722px #fff, 581px 200px #fff,
    1628px 1587px #fff, 1882px 1779px #fff, 1344px 1061px #fff,
    1881px 1325px #fff, 1911px 1418px #fff, 181px 1390px #fff, 395px 570px #fff,
    731px 1153px #fff, 187px 1818px #fff, 1424px 845px #fff, 1538px 1087px #fff,
    1946px 1532px #fff, 136px 1101px #fff, 586px 104px #fff, 1309px 665px #fff,
    632px 1818px #fff, 68px 829px #fff, 168px 930px #fff, 1619px 541px #fff,
    1825px 740px #fff, 105px 1554px #fff, 1859px 624px #fff, 1484px 727px #fff,
    1903px 363px #fff, 1338px 436px #fff, 1261px 1521px #fff, 1301px 931px #fff,
    1611px 744px #fff, 1701px 106px #fff, 1514px 1444px #fff, 1375px 1922px #fff,
    146px 1902px #fff, 18px 1488px #fff, 501px 1128px #fff, 1821px 79px #fff,
    1256px 592px #fff, 1562px 385px #fff, 1148px 868px #fff, 1861px 104px #fff,
    417px 134px #fff, 357px 916px #fff, 417px 944px #fff, 1799px 1891px #fff,
    1872px 253px #fff, 993px 491px #fff, 664px 1807px #fff, 1268px 840px #fff,
    1884px 1039px #fff, 42px 714px #fff, 241px 443px #fff, 1288px 1416px #fff,
    1691px 626px #fff, 1541px 1392px #fff, 951px 1597px #fff, 337px 1370px #fff,
    1310px 1406px #fff, 1923px 1532px #fff, 1545px 640px #fff,
    1214px 1400px #fff, 1721px 1264px #fff, 160px 159px #fff, 1150px 357px #fff,
    1203px 1482px #fff, 1903px 36px #fff, 973px 739px #fff, 1617px 218px #fff,
    1357px 1689px #fff, 615px 307px #fff, 1042px 1921px #fff, 1221px 1254px #fff,
    1869px 234px #fff, 1407px 1831px #fff, 486px 1791px #fff, 1388px 782px #fff,
    25px 724px #fff, 1041px 342px #fff, 480px 1992px #fff, 279px 1706px #fff,
    1646px 1068px #fff, 1758px 1312px #fff, 1724px 358px #fff, 66px 200px #fff,
    158px 615px #fff, 525px 1529px #fff, 824px 1289px #fff, 553px 1053px #fff,
    1676px 1234px #fff, 91px 793px #fff, 1347px 1663px #fff, 560px 1436px #fff,
    245px 1867px #fff, 1077px 1376px #fff, 1447px 135px #fff, 105px 171px #fff,
    1348px 118px #fff;
}

.stars2 {
  opacity: 0.5;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1223px 1358px #fff, 1877px 1558px #fff, 1613px 1854px #fff,
    1258px 1961px #fff, 1824px 1362px #fff, 546px 299px #fff, 1393px 1199px #fff,
    756px 1647px #fff, 1858px 866px #fff, 834px 1136px #fff, 237px 266px #fff,
    994px 1138px #fff, 633px 366px #fff, 1159px 1795px #fff, 898px 1074px #fff,
    537px 41px #fff, 1996px 474px #fff, 4px 1840px #fff, 265px 1394px #fff,
    317px 646px #fff, 1329px 1178px #fff, 1389px 367px #fff, 1513px 74px #fff,
    231px 1225px #fff, 783px 1772px #fff, 1366px 367px #fff, 1921px 1922px #fff,
    1907px 369px #fff, 1694px 387px #fff, 777px 1665px #fff, 1441px 946px #fff,
    1269px 1679px #fff, 586px 344px #fff, 896px 1456px #fff, 501px 1620px #fff,
    811px 1279px #fff, 1244px 1984px #fff, 1680px 1629px #fff, 1526px 464px #fff,
    687px 1665px #fff, 1445px 1416px #fff, 969px 910px #fff, 1418px 810px #fff,
    1473px 1365px #fff, 1777px 33px #fff, 1741px 191px #fff, 1620px 322px #fff,
    1914px 1544px #fff, 739px 1323px #fff, 416px 1683px #fff, 173px 1396px #fff,
    881px 1093px #fff, 1391px 414px #fff, 458px 185px #fff, 357px 1581px #fff,
    733px 1993px #fff, 1308px 1362px #fff, 546px 142px #fff, 434px 6px #fff,
    692px 1590px #fff, 411px 1749px #fff, 708px 409px #fff, 455px 1089px #fff,
    745px 547px #fff, 59px 917px #fff, 1488px 870px #fff, 685px 1019px #fff,
    1915px 405px #fff, 1272px 1567px #fff, 1884px 46px #fff, 296px 789px #fff,
    150px 1466px #fff, 1178px 49px #fff, 277px 1036px #fff, 557px 1066px #fff,
    1292px 1104px #fff, 1512px 1179px #fff, 1969px 1381px #fff,
    1757px 1852px #fff, 1621px 525px #fff, 1425px 1611px #fff, 95px 1020px #fff,
    1363px 1595px #fff, 77px 1284px #fff, 248px 1029px #fff, 1506px 247px #fff,
    1837px 1187px #fff, 1030px 375px #fff, 1260px 470px #fff, 216px 1486px #fff,
    1938px 192px #fff, 48px 631px #fff, 1585px 1262px #fff, 1367px 1879px #fff,
    954px 447px #fff, 1586px 1390px #fff, 1673px 819px #fff, 334px 682px #fff,
    1229px 385px #fff, 792px 145px #fff, 379px 1107px #fff, 746px 436px #fff,
    459px 439px #fff, 415px 1997px #fff, 1915px 1297px #fff, 848px 1025px #fff,
    499px 681px #fff, 1516px 869px #fff, 1911px 1432px #fff, 859px 965px #fff,
    675px 1055px #fff, 958px 1913px #fff, 1220px 1813px #fff, 1237px 1572px #fff,
    27px 1165px #fff, 1835px 774px #fff, 5px 907px #fff, 1697px 1256px #fff,
    1561px 109px #fff, 1996px 430px #fff, 447px 365px #fff, 1036px 1213px #fff,
    221px 355px #fff, 467px 403px #fff, 935px 921px #fff, 549px 1328px #fff,
    326px 585px #fff, 874px 1634px #fff, 1466px 544px #fff, 1627px 1089px #fff,
    1199px 158px #fff, 1012px 149px #fff, 347px 1258px #fff, 370px 437px #fff,
    919px 37px #fff, 460px 1990px #fff, 798px 1851px #fff, 618px 1536px #fff,
    1514px 1995px #fff, 1921px 1356px #fff, 420px 638px #fff, 1142px 339px #fff,
    453px 1668px #fff, 1472px 873px #fff, 413px 869px #fff, 655px 508px #fff,
    165px 12px #fff, 510px 1881px #fff, 470px 766px #fff, 533px 1155px #fff,
    1669px 34px #fff, 339px 1875px #fff, 1602px 1588px #fff, 1967px 446px #fff,
    1261px 743px #fff, 424px 309px #fff, 767px 1386px #fff, 1771px 248px #fff,
    1677px 1336px #fff, 807px 144px #fff, 835px 943px #fff, 366px 1700px #fff,
    1341px 1759px #fff, 1546px 125px #fff, 737px 1042px #fff, 1138px 126px #fff,
    792px 1223px #fff, 76px 601px #fff, 1568px 82px #fff, 643px 286px #fff,
    1517px 995px #fff, 738px 1892px #fff, 1361px 1588px #fff, 617px 399px #fff,
    1785px 227px #fff, 1155px 1401px #fff, 526px 1858px #fff, 254px 303px #fff,
    616px 1176px #fff, 1969px 1372px #fff, 967px 173px #fff, 383px 398px #fff,
    1078px 1838px #fff, 1234px 943px #fff, 1556px 630px #fff, 1576px 1732px #fff,
    305px 1047px #fff, 1608px 1299px #fff, 80px 1426px #fff, 114px 1034px #fff,
    1668px 488px #fff, 1076px 1674px #fff, 67px 1280px #fff, 620px 201px #fff,
    150px 1430px #fff, 199px 1326px #fff, 931px 1354px #fff, 1756px 1696px #fff,
    1380px 1690px #fff, 1052px 1685px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  opacity: 0.5;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1223px 1358px #fff, 1877px 1558px #fff, 1613px 1854px #fff,
    1258px 1961px #fff, 1824px 1362px #fff, 546px 299px #fff, 1393px 1199px #fff,
    756px 1647px #fff, 1858px 866px #fff, 834px 1136px #fff, 237px 266px #fff,
    994px 1138px #fff, 633px 366px #fff, 1159px 1795px #fff, 898px 1074px #fff,
    537px 41px #fff, 1996px 474px #fff, 4px 1840px #fff, 265px 1394px #fff,
    317px 646px #fff, 1329px 1178px #fff, 1389px 367px #fff, 1513px 74px #fff,
    231px 1225px #fff, 783px 1772px #fff, 1366px 367px #fff, 1921px 1922px #fff,
    1907px 369px #fff, 1694px 387px #fff, 777px 1665px #fff, 1441px 946px #fff,
    1269px 1679px #fff, 586px 344px #fff, 896px 1456px #fff, 501px 1620px #fff,
    811px 1279px #fff, 1244px 1984px #fff, 1680px 1629px #fff, 1526px 464px #fff,
    687px 1665px #fff, 1445px 1416px #fff, 969px 910px #fff, 1418px 810px #fff,
    1473px 1365px #fff, 1777px 33px #fff, 1741px 191px #fff, 1620px 322px #fff,
    1914px 1544px #fff, 739px 1323px #fff, 416px 1683px #fff, 173px 1396px #fff,
    881px 1093px #fff, 1391px 414px #fff, 458px 185px #fff, 357px 1581px #fff,
    733px 1993px #fff, 1308px 1362px #fff, 546px 142px #fff, 434px 6px #fff,
    692px 1590px #fff, 411px 1749px #fff, 708px 409px #fff, 455px 1089px #fff,
    745px 547px #fff, 59px 917px #fff, 1488px 870px #fff, 685px 1019px #fff,
    1915px 405px #fff, 1272px 1567px #fff, 1884px 46px #fff, 296px 789px #fff,
    150px 1466px #fff, 1178px 49px #fff, 277px 1036px #fff, 557px 1066px #fff,
    1292px 1104px #fff, 1512px 1179px #fff, 1969px 1381px #fff,
    1757px 1852px #fff, 1621px 525px #fff, 1425px 1611px #fff, 95px 1020px #fff,
    1363px 1595px #fff, 77px 1284px #fff, 248px 1029px #fff, 1506px 247px #fff,
    1837px 1187px #fff, 1030px 375px #fff, 1260px 470px #fff, 216px 1486px #fff,
    1938px 192px #fff, 48px 631px #fff, 1585px 1262px #fff, 1367px 1879px #fff,
    954px 447px #fff, 1586px 1390px #fff, 1673px 819px #fff, 334px 682px #fff,
    1229px 385px #fff, 792px 145px #fff, 379px 1107px #fff, 746px 436px #fff,
    459px 439px #fff, 415px 1997px #fff, 1915px 1297px #fff, 848px 1025px #fff,
    499px 681px #fff, 1516px 869px #fff, 1911px 1432px #fff, 859px 965px #fff,
    675px 1055px #fff, 958px 1913px #fff, 1220px 1813px #fff, 1237px 1572px #fff,
    27px 1165px #fff, 1835px 774px #fff, 5px 907px #fff, 1697px 1256px #fff,
    1561px 109px #fff, 1996px 430px #fff, 447px 365px #fff, 1036px 1213px #fff,
    221px 355px #fff, 467px 403px #fff, 935px 921px #fff, 549px 1328px #fff,
    326px 585px #fff, 874px 1634px #fff, 1466px 544px #fff, 1627px 1089px #fff,
    1199px 158px #fff, 1012px 149px #fff, 347px 1258px #fff, 370px 437px #fff,
    919px 37px #fff, 460px 1990px #fff, 798px 1851px #fff, 618px 1536px #fff,
    1514px 1995px #fff, 1921px 1356px #fff, 420px 638px #fff, 1142px 339px #fff,
    453px 1668px #fff, 1472px 873px #fff, 413px 869px #fff, 655px 508px #fff,
    165px 12px #fff, 510px 1881px #fff, 470px 766px #fff, 533px 1155px #fff,
    1669px 34px #fff, 339px 1875px #fff, 1602px 1588px #fff, 1967px 446px #fff,
    1261px 743px #fff, 424px 309px #fff, 767px 1386px #fff, 1771px 248px #fff,
    1677px 1336px #fff, 807px 144px #fff, 835px 943px #fff, 366px 1700px #fff,
    1341px 1759px #fff, 1546px 125px #fff, 737px 1042px #fff, 1138px 126px #fff,
    792px 1223px #fff, 76px 601px #fff, 1568px 82px #fff, 643px 286px #fff,
    1517px 995px #fff, 738px 1892px #fff, 1361px 1588px #fff, 617px 399px #fff,
    1785px 227px #fff, 1155px 1401px #fff, 526px 1858px #fff, 254px 303px #fff,
    616px 1176px #fff, 1969px 1372px #fff, 967px 173px #fff, 383px 398px #fff,
    1078px 1838px #fff, 1234px 943px #fff, 1556px 630px #fff, 1576px 1732px #fff,
    305px 1047px #fff, 1608px 1299px #fff, 80px 1426px #fff, 114px 1034px #fff,
    1668px 488px #fff, 1076px 1674px #fff, 67px 1280px #fff, 620px 201px #fff,
    150px 1430px #fff, 199px 1326px #fff, 931px 1354px #fff, 1756px 1696px #fff,
    1380px 1690px #fff, 1052px 1685px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  opacity: 0.5;
  background: transparent;
  box-shadow: 1687px 217px #fff, 1415px 1841px #fff, 750px 548px #fff,
    19px 908px #fff, 929px 877px #fff, 1855px 931px #fff, 1979px 1425px #fff,
    1059px 1077px #fff, 283px 485px #fff, 1167px 1198px #fff, 152px 1026px #fff,
    761px 251px #fff, 233px 1630px #fff, 364px 152px #fff, 1569px 1590px #fff,
    346px 242px #fff, 1239px 709px #fff, 1152px 868px #fff, 98px 642px #fff,
    701px 85px #fff, 1157px 1439px #fff, 342px 1102px #fff, 667px 752px #fff,
    1634px 1052px #fff, 442px 78px #fff, 1140px 1033px #fff, 406px 1443px #fff,
    680px 1450px #fff, 472px 1320px #fff, 1754px 265px #fff, 377px 89px #fff,
    254px 775px #fff, 813px 736px #fff, 366px 1335px #fff, 1705px 1336px #fff,
    487px 1572px #fff, 1731px 1944px #fff, 1894px 888px #fff, 1357px 1084px #fff,
    526px 801px #fff, 1646px 1953px #fff, 1521px 297px #fff, 97px 382px #fff,
    1831px 71px #fff, 1887px 1209px #fff, 425px 780px #fff, 183px 404px #fff,
    1160px 1092px #fff, 1020px 1556px #fff, 1620px 1774px #fff, 419px 436px #fff,
    1777px 1135px #fff, 1219px 717px #fff, 1272px 1272px #fff, 1813px 468px #fff,
    553px 1860px #fff, 1072px 991px #fff, 153px 716px #fff, 980px 744px #fff,
    499px 204px #fff, 1774px 468px #fff, 268px 1672px #fff, 947px 581px #fff,
    6px 833px #fff, 216px 1147px #fff, 1887px 1211px #fff, 1212px 1506px #fff,
    143px 686px #fff, 926px 383px #fff, 514px 816px #fff, 796px 796px #fff,
    803px 1877px #fff, 1383px 803px #fff, 1685px 1438px #fff, 529px 1373px #fff,
    1506px 739px #fff, 1717px 1323px #fff, 680px 1527px #fff, 620px 1754px #fff,
    1602px 1746px #fff, 791px 28px #fff, 213px 710px #fff, 1797px 1974px #fff,
    398px 1522px #fff, 667px 1347px #fff, 1907px 1610px #fff, 1251px 1605px #fff,
    1640px 97px #fff, 821px 1720px #fff, 289px 716px #fff, 822px 631px #fff,
    1629px 1061px #fff, 1573px 123px #fff, 1478px 256px #fff, 844px 300px #fff,
    520px 293px #fff, 1438px 1111px #fff, 738px 1217px #fff, 1186px 167px #fff,
    338px 223px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1687px 217px #fff, 1415px 1841px #fff, 750px 548px #fff,
    19px 908px #fff, 929px 877px #fff, 1855px 931px #fff, 1979px 1425px #fff,
    1059px 1077px #fff, 283px 485px #fff, 1167px 1198px #fff, 152px 1026px #fff,
    761px 251px #fff, 233px 1630px #fff, 364px 152px #fff, 1569px 1590px #fff,
    346px 242px #fff, 1239px 709px #fff, 1152px 868px #fff, 98px 642px #fff,
    701px 85px #fff, 1157px 1439px #fff, 342px 1102px #fff, 667px 752px #fff,
    1634px 1052px #fff, 442px 78px #fff, 1140px 1033px #fff, 406px 1443px #fff,
    680px 1450px #fff, 472px 1320px #fff, 1754px 265px #fff, 377px 89px #fff,
    254px 775px #fff, 813px 736px #fff, 366px 1335px #fff, 1705px 1336px #fff,
    487px 1572px #fff, 1731px 1944px #fff, 1894px 888px #fff, 1357px 1084px #fff,
    526px 801px #fff, 1646px 1953px #fff, 1521px 297px #fff, 97px 382px #fff,
    1831px 71px #fff, 1887px 1209px #fff, 425px 780px #fff, 183px 404px #fff,
    1160px 1092px #fff, 1020px 1556px #fff, 1620px 1774px #fff, 419px 436px #fff,
    1777px 1135px #fff, 1219px 717px #fff, 1272px 1272px #fff, 1813px 468px #fff,
    553px 1860px #fff, 1072px 991px #fff, 153px 716px #fff, 980px 744px #fff,
    499px 204px #fff, 1774px 468px #fff, 268px 1672px #fff, 947px 581px #fff,
    6px 833px #fff, 216px 1147px #fff, 1887px 1211px #fff, 1212px 1506px #fff,
    143px 686px #fff, 926px 383px #fff, 514px 816px #fff, 796px 796px #fff,
    803px 1877px #fff, 1383px 803px #fff, 1685px 1438px #fff, 529px 1373px #fff,
    1506px 739px #fff, 1717px 1323px #fff, 680px 1527px #fff, 620px 1754px #fff,
    1602px 1746px #fff, 791px 28px #fff, 213px 710px #fff, 1797px 1974px #fff,
    398px 1522px #fff, 667px 1347px #fff, 1907px 1610px #fff, 1251px 1605px #fff,
    1640px 97px #fff, 821px 1720px #fff, 289px 716px #fff, 822px 631px #fff,
    1629px 1061px #fff, 1573px 123px #fff, 1478px 256px #fff, 844px 300px #fff,
    520px 293px #fff, 1438px 1111px #fff, 738px 1217px #fff, 1186px 167px #fff,
    338px 223px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
    /* transform: translateX(0px); */
  }
  to {
    transform: translateY(-2000px);
    /* transform: translateX(10000px); */
  }
}
