.body{
  margin: 0;
}

.heading{
  padding: 3% 30%;

    h1{
      font-family: Arial;
      margin: 0;
      padding: 10px 0px;
      font-size: 60px;
    }
  h6{
    margin: 0;
    font-size: 18px;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
  }

  li:nth-of-type(1){
    margin-left: 0;
  }

  li:nth-of-type(5){
    margin-left: auto;
  }
}


.text{
  padding: 3% 30%;
}