.body {
  margin: 0;
}

.heading {
  padding: 4% 20%;
  text-align: center;

  h2 {
    margin: 0;
    margin-top: 80px;
    
    // padding: 10px 0px;
  }
  h6 {
    margin: 0;
    font-size: 18px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-right: 0.5rem;
    }
  }
}

.text {
  text-align: justify;
  line-height: 1.5;
  word-wrap:break-word;
  h4, h5, p{
    margin: 0.25rem 0;
  }
  p{
    color: #4a5568;
  }
}

.metaData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #4a5568;
  position: relative;
  li:not(:last-child):after {
    content: "·";
    position: absolute;
    margin-left: 5px;
  }
}

.categories {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  p {
    color: #718096;
  }
  padding: 3% 20%;
  padding-top: 0rem;

  li {
    margin-right: 1rem;
  }
}
.FontAwesomeIcon {
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    color: #4267b2;
    border-radius: 50px;
    cursor: pointer;
  }
}
.storypic {
  text-align: center;
  img {
    width: 60%;
  }
}
.text {
  padding: 3% 20%;
}
.button {
  background-color: #edf2f7;
  border: none;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  transition: 0.2s all;
  &:hover {
    // border: #070707;
    background-color: #070707;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    h2 {
      font-size: 2.5rem;
    }
    ul {
      li {
        margin-right: 0.5rem;
      }
    }
  }
  .heading,
  .text,
  .categories {
    padding: 3% 10%;
  }
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
