@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

.TopStories{
    justify-content: center;
    text-align: center;
    padding: 3% 10%;
}

.TopStories h1{
    color: #585858;
    font-family: 'Inter', sans-serif;
}

.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 100vw;
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}

.paper {
    padding: 4%;
    text-align: left;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    height: 650px;
  }

  .userName{
      font-size: 18px;
      line-height: 40px;
  }

  .elementmain{
     text-align: center;
  }

  .elementmain p{
    font-size: 16px;
}

  .elementmain2 p{
      font-size: 16px;
  }

  .root{
      display: none;
  }

  @media (max-width: 600px) {
      .root{
          display:block;
      }
      .fullSection{
          display: none;
      }
  }