@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

.TopStories {
  justify-content: center;
  text-align: center;
  padding: 3% 10%;
}

.TopStories h1 {
  color: #585858;
  font-family: "Inter", sans-serif;
}

.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
  font-family: merriweather;
}
.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 100vw;
  margin: 0 20px;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}

.paper {
  padding: 4%;
  text-align: left;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  display: inline-block;
  min-height: 720px;
}

.userName {
  font-size: 18px;
  line-height: 40px;
}

.elementmain {
  text-align: center;
}

.elementmain p {
  font-size: 16px;
}

.caption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.elementmain2 p {
  font-size: 16px;
}

.root {
  display: none;
}
.stories {
  margin: auto;
  padding: 0.5rem 0;
  width: 10%;
  background-color: #303030;
  color: white;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .root {
    display: block;
  }

  .paper {
    min-height: 500px;
  }
  .fullSection {
    display: none;
  }
  .stories {
    margin-top: 1rem;
    width: 30%;
  }
}
