.TopStories {
  justify-content: center;
  text-align: justify;
  // text-align: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1250px;
  @media (max-width: 768px) {
    padding: 5% 2%;
    margin: 2rem 0;
  }
}

.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #ccc;
  width: 100vw;
  margin: 0 20px;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}

.heading {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  // text-align: center;
  transition: 0.2s all;
  &:hover {
    cursor: pointer;
    color: #7979ff;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 1.1rem;
  }
}

.paper {
  // padding: 4%;
  text-align: left;
  // font-size: 14px;
  display: inline-block;
  min-height: 720px;
  box-shadow: none !important;
  p {
    text-align: justify;
    margin: 0;
  }
}

// .userName {
//   font-size: 18px;
//   line-height: 40px;
// }

.paper .elementmain {
  // text-align: center;
  img {
    max-height: 400px;
  }
}

.elementmain2 {
  // text-align: center;
  img {
    max-height: 400px;
  }
}

// .elementmain p {
//   font-size: 16px;
// }

.paper img {
  // min-height: 200px;
  // max-height: 600px;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.centerImage {
  max-height: 400px;
}

.caption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.element {
  display: grid;
  margin-bottom: 0.75rem;

  // place-items: center;
}

.elementmain2 p {
  font-size: 16px;
}
.root {
  display: none;
}
.stories {
  margin: auto;
  padding: 0.5rem 0;
  width: 10%;
  background-color: #303030;
  color: white;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .root {
    display: block;
  }

  .paper {
    min-height: 500px;
  }
  .fullSection {
    display: none;
  }
  .stories {
    margin-top: 1rem;
    width: 30%;
  }
}
