.community {
  background-color: #f5f5f5;
  font-weight: normal;
}
.nav {
  display: flex;
  padding-left: 1.5rem;
}
.faIcon {
  margin-right: 10px;
}
.title {
  font-size: 24px;
  // line-height: 32.68px;
  // letter-spacing: 8px;
  font-weight: 700;
  margin-top: 2rem;
  padding-left: 4rem;
}
.content {
  display: flex;
  cursor: pointer;
}
.indices {
  font-size: 18px;
  color: black;
  font-family: "Inter";
  text-align: start;
  font-weight: 600;
  margin-bottom: 5px;
}
.heading {
  font-size: 1.1rem;
  margin-top: 0;
  text-align: start;
  font-weight: 500;
  margin-left: 15px;
  &:hover {
    cursor: pointer;
    color: #7979ff;
  }
}
// .body::after {
//   content: "...";
//   position: absolute;
//   right: 32px;
// }
.body {
  color: rgb(46, 46, 46);
  margin-top: 16px;
  text-align: justify;
  margin-left: 15px;
  max-height: calc(22px * 5);
  overflow: hidden;
}
.author {
  font-style: italic;
  color: black;
  margin-top: 1rem;
  text-align: start;
  margin-left: 1rem;
}
.images {
  width: 200px;
  aspect-ratio: 4/3;
  max-height: 200px;
  object-fit: contain;
}
.imageContainer {
  width: 250px;
  display: flex;
  background-color: rgb(240, 240, 240);
  aspect-ratio: 4/3;
  img {
    // width: 100%;
    margin: auto;
    max-height: 180px;
    width: inherit;
    object-fit: contain;
    @media only screen and (max-width: 768px) {
      max-height: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.container {
  justify-content: center;
  text-align: center;
  padding: 2rem 4rem;
}
@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin: 15px 0 0 10px;
    font-size: 1.3rem;
    padding: 0;
  }
  .content {
    display: inline;
  }
  .images {
    width: 90%;
  }
}
