.carousel {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 3% 10%;
}

.carousel p {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
}
.CarouselItem {
  padding: 10%;
}
.player {
  margin: auto;
  width: 70% !important;
  min-height: 180px;
}
