.carousel {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 4% 10%;
  padding-top: 1rem;
  @media (max-width: 768px) {
    padding: 5% 2%;
    margin: 2rem 0;
  }
}

.carousel p {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
}
.CarouselItem {
  padding: 10%;
}
.player {
  margin: auto;
  width: 70% !important;
  min-height: 500px;
  aspect-ratio: 16/9;
  @media (max-width: 768px) {
    min-height: 100px;
  }
}

.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #ccc;
  width: 100vw;
  margin: 0 20px;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}
